<style>



.caja {
width: 800px;

}
#btn-search {
background: green !important;
}

#btn-search i{
color: white !important;
}


</style>

<main>
    <section>

      <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="height:465px">
          <div class="carousel-item active">
            <div style="position: absolute;right: 0px;left: 0px;">

                <app-buscador></app-buscador>
            </div>
            <img class="d-block w-100"
              src="https://www.juntadeandalucia.es/sites/default/files/2023-03/recomendador-encontrar-empleo%E2%80%9302-marzo-2023.jpg"
              alt="First slide">
          </div>
          <div class="carousel-item">
            <div style="position: absolute;right: 0px;left: 0px;">

                <app-buscador></app-buscador>
            </div>
            <img class="d-block w-100"
              src="https://www.juntadeandalucia.es/sites/default/files/2023-05/recomendador_jda_becas_02.jpg"
              alt="Second slide">
          </div>
          <div class="carousel-item">
            <div style="position: absolute;right: 0px;left: 0px;">

                <app-buscador></app-buscador>
            </div>
            <img class="d-block w-100"
              src="https://www.juntadeandalucia.es/sites/default/files/2023-03/recomendador-cita-previa%E2%80%9301-marzo-2023.jpg"
              alt="Third slide">
          </div>
        </div>

      </div>





      <!--Columnas 4-->
      <div class="p-4">
        <h1 class="mb-2">DIRECTO A</h1>

        <div class="carousel-item">

          <div class="carousel-caption d-none d-md-block">
            <h5>123</h5>
            <p>12345</p>
          </div>
        </div>
      </div>



    </section>
  </main>
