<style>
    .listado-header {

display: flex;
justify-content: right;
list-style: none;
}

.listado-header li {

padding: 5px;

}

.listado-header li i {

padding: 5px;
color: white !important;
}

</style>


<div class="row" style="background-color: rgb(0, 0, 0); color: white;">
    <div class="listado-header">
      <li>Contacto</li>
      <li>Mapa web |</li>
      <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-flickr"></i></a></li>
    </div>
  </div>
