<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

<style>
.row{
  padding: 10px;
}

button{
  background: green;
  color: white;
  border-radius: 3em;
}
</style>
-->
<!-- 1º dia angular 
<div class="container">
  <h1>Proyecto {{title}}</h1>
  <button (click)="sacaAlerta()">Llamar funcion</button>
  <button (click)="cambiaNombre()">cambia variable</button>

  <div class="container col-5 p-5">
    <h5>Acceso</h5>
    <div class="row">
      <input placeholder="Usuario" type="text" [(ngModel)]="name">
    </div>
    <div class="row">
      <input placeholder="password" type="password" [(ngModel)]="password">

    </div>
    <div id="error"></div>
    <button (click)="checkLogin()">Acceder</button>

  </div>

</div>

<div class="container col-4 p-5">
  <h5>Añadir usuario</h5>
  <div class="row">
    <input placeholder="usuario" type="text" [(ngModel)]="name">
  </div>
  <div class="row">
    <input placeholder="edad" type="number" [(ngModel)]="password">

  </div>
  <div id="error"></div>
  <button (click)="checkLogin()">Registrar</button>

</div>
-->


<app-header></app-header>

<app-carrusel></app-carrusel>

<app-seccion></app-seccion>



<router-outlet></router-outlet>